
.hero-image-container {
    background-position: 20% 35% !important;
    background-image: url("https://i.imgur.com/7fVDdFT.jpg") !important;
}
html, body {
    padding: 0% !important;
    margin: 0% !important;
    background-color: #4d3539 !important;
}
.sidebar-group.jsx-957679112 > h4.jsx-957679112, .sidebar-group.jsx-957679112 .sidebar-premiere-header.jsx-957679112 > h4.jsx-957679112, .sidebar-group.jsx-957679112 .sidebarFilter-header.jsx-957679112 > h4.jsx-957679112 {
    position: relative !important;
    display: inline-block !important;
    color: rgb(192,147,110) !important;
    text-transform: uppercase !important;
    margin: 10px 0px !important;
    letter-spacing: 1px !important;
    font-size: 12px !important;
    font-family: "Courier New", monospace !important;
    font-weight: 700 !important;
}

//OBEJRZANE
.sidebar-list-item.jsx-3357495904 > a.is-active.jsx-3357495904 span.jsx-3357495904 {
    color: rgb(192,147,110) !important;
    font-family: "Courier New", monospace !important;
    font-weight: 400 !important;
}
.sidebar-list-item.jsx-3357495904 > a.jsx-3357495904 span.jsx-3357495904 {
    color: rgb(192,147,110) !important;
    font-family: "Courier New", monospace !important;
    font-weight: 400 !important;
}
.sidebar-list-item.jsx-3357495904 > a.jsx-3357495904 {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    text-decoration: none !important;
    padding: 7px 10px !important;
    font-family: "Courier New", monospace !important;
    color: rgb(192,147,110) !important;
    transition: color 200ms ease-out 0s !important;
    border: 1px solid transparent !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}
.MuiButtonBase-root.variant-sidebar .MuiAccordionSummary-content {
    font-size: 12px !important;
    color: rgb(192,147,110) !important;
    position: relative !important;
    display: inline-block !important;
    flex: 0 0 auto !important;
    font-family: "Courier New", monospace !important;
    font-weight: 700 !important;
}
p, span, a {
    color: rgb(192,147,110) !important;
}
.customListManageLink-link.jsx-2719653159 {
    font-size: 12px !important;
    text-decoration: none !important;
    color: rgb(255 255 255) !important;
    transition: all 200ms ease-out 0s !important;
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    margin: 10px 0px 5px !important;
}
.navigation-list-item a {
    padding: 10px !important;
    display: inline-block !important;
    text-decoration: none !important;
    color: ##c0936e !important;
    font-size: 16px !important;
    font-family: "Courier New", monospace !important;
    transition: all ease-out 200ms !important;
}
