
.hero-image-container {
    background-position: 20% 35% !important;
    background-image: url("https://i.imgur.com/7fVDdFT.jpg") !important;
}
html, body {
    padding: 0% !important;
    margin: 0% !important;
    background-color: #4d3539 !important;
}
